@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&family=Roboto:wght@100;400&display=swap');


body {
    display: flex;

}

.container {
    margin: 0 auto;
    width: 1600px;
    height: 2346px;
}

header {
    display: flex;
    position: relative;
    background: #FFF;
    width: 1600px;
    height: 80px;
}

.text {
    left: 150px;
    position: absolute;
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    cursor: pointer;
}

span {
    position: absolute;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    cursor: pointer;
}

.studio {
    position: absolute;
    left: 350px;
    top: 10px;
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;
}

.section {
    position: absolute;
    left: 450px;
    top: 10px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;

}

.contacts {
    position: absolute;
    left: 550px;
    top: 10px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;
}

.email {
    position: absolute;
    left: 1200px;
    top: 10px;
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;
}

.number {
    position: absolute;
    left: 1350px;
    top: 10px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    cursor: pointer;
}

.bg {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1700px;
    height: 600px;
    background: #2F303A;
    justify-content: center;
    align-items: center;
}

.business {
    width: 696px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.buttonza {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
}

.specials {
    display: flex;
    width: 1170px;
    height: 98px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
}

.specials h1 {
    width: 270px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.texts {
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.what-do-we-do {
    background: #FFF;
    width: 1600px;
    height: 386px;
}

.what-do-we-do h1 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-top: 100px;
}

.what-do-we-do img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-left: 30px;
    padding-left: 100px;
    margin-top: 40px;
}

section {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 648px;
    flex-shrink: 0;
    background: #F5F4FA;
    margin-top: 100px;
}

.team {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 90px;

}


.card {
    width: 270px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    margin: 20px;
}

.card img {
    width: 270px;
    height: 260px;
}

.name {
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
}

.job {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1600px;
    height: 252px;
    background: #2F303A;
}

.studio-footer {
    color: #FFF;
}

.footer-studio {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-left: 150px;
    margin-top: 60px;
}

.adress {
    width: 231px;
    height: 21px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 150px;
}

.footer-email {
    width: 136px;
    height: 21px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 150px;
}

.footer-number {
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 150px;
}
